# Dependencies
node_modules

# Build output
dist
demo-dist

# Environment & local config
*.local
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test coverage
coverage

# Editors / IDEs
.vscode
.idea

# Temp files
*.tsbuildinfo
*.swp
*.swo
*~

.claude
